@media screen and (max-width: 915px) {
    .login {
        display: flex;
        justify-content: center;
        align-items: start;
        min-height: 100vh;
    }

    .login-container {
        padding: 0 !important;
        min-height: 1000vh;
    }

    .login__row {
        margin: 0;
        display: grid;
        grid-template-areas:
            "login__background"
            "login__content";
    }

    .login__content {
        grid-area: login__content;

        padding: 20px;
        margin-top: 30px;
    }

    .login__headline {
        font-size: 32px;
        text-align: center;
    }

    .login__form {
        display: flex;
        align-items: center;
    }

    .login__background {
        grid-area: login__background;

        height: 35vh;
        background-size: cover;
        border-radius: 0 !important;
    }
}