.login {
    max-width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--container-background-color);
}

.login__row {
    display: flex;
}

.login__content {
    padding: 0 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login__headline {
    font-size: 48px;
    font-weight: 600;
}

.login__form {
    display: flex;
    flex-direction: column;

    text-align: center;
}

.login__input {
    width: 300px;
    padding: 20px;
    margin: 20px 0;

    font-size: 14px;
    border-radius: 10px;
    background-color: var(--background-color);
}

.login__show-password {
    font-size: 14px;
}

.show-password__checkbox {
    margin-right: 10px;
    margin-bottom: 40px;
}

.login__background {
    width: 500px;
    height: 600px;
    display: flex;

    border-radius: 15px;
    background-image: url('/images/library.jpg');
    background-position: center;
    background-size: cover;
}