/* Default buttons */

.btn {
    color: var(--btn-color);
    font-weight: 600;
    padding: 16px 24px;
    border: 2px solid var(--btn-background-color);
    border-radius: 20px;
    background-color: transparent;
    transition: all 300ms;
}

.btn:hover {
    color: var(--btn-on-hover-color);
    background-color: var(--btn-background-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.btn:disabled {
    pointer-events: none;
}

.btn__submit {
    color: var(--btn-color);
    font-weight: 600;
    padding: 16px 150px;
    border: 2px solid var(--btn-background-color);
    border-radius: 20px;
    background-color: transparent;
    transition: all 300ms;
}

.btn__submit:hover {
    color: var(--btn-on-hover-color);
    background-color: var(--btn-background-color);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.btn__submit:active {
    box-shadow: none;
    transform: translateY(0);
}

.btn__submit:disabled {
    pointer-events: none;
}

/* Sidebar buttons */

.btn__sidebar {
    /* width: 330px; */
    width: 122%;
    padding: 15px 30px;
    margin-left: -30px;

    color: var(--sidebar-inactive-color);
    font-weight: 700;
    text-align: start;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.btn__sidebar:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btn__sidebar--active {
    width: 122%;
    padding: 15px 30px;
    margin-left: -30px;

    text-align: start;
    color: var(--sidebar-active-color);
    font-weight: 700;
    border-radius: 5px;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.btn__sidebar-icon {
    height: 20px;
    margin-right: 10px;
    opacity: .4;
}

.btn__sidebar-icon--active {
    height: 20px;
    margin-right: 10px;
    opacity: 1;
}

/* Navigation buttons */

.btn__drop-down {
    width: 210px;
    margin: 10px 0;
    padding: 10px 20px;
    text-align: start;
    font-size: 14px;
    font-weight: 700;
    border-radius: 10px;
    transition: all 250ms;
}

.btn__drop-down:hover {
    background-color: var(--background-color);
}

.btn__logout {
    width: 210px;
    margin-top: 15px;
    padding: 10px 0 10px 20px;
    text-align: start;
    font-size: 14px;
    font-weight: 700;
    opacity: .7;
    border-radius: 10px;
    transition: all 250ms;
}

.btn__logout:hover {
    opacity: 1;
    color: red;
    background-color: var(--background-color);
}