@media screen and (max-width: 800px) {
    .course__row {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 20px;
    }

    .btn__course {
        color: var(--background-color);
        background-color: #000;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    }
}