.course__row {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.course__card {
    padding: 30px 40px;
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.course__professor {
    font-size: 12px;
}

.course__header {
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.course__btn {
    display: flex;
    justify-content: end;
}