@import url('https://fonts.googleapis.com/css2?family=Monomakh&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/*.dark-mode {*/
/*    color: white;*/
/*    --background-color: var(--dark-background-color);*/
/*}*/

html, body {
    display: flex;
    flex-direction: column;
    height: 100%;

    font-weight: 500;
    font-family: var(--main-font), serif;
    overflow: hidden;
    background-color: var(--background-color);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

div::selection,
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection,
strong::selection,
span::selection, 
p::selection {
    background-color: black;
    color: white;
}