:root {
    /* fonts */
    --headline-font: "Monomakh", serif;
    --main-font: "Nunito", serif;
    
    /* colors */
    --btn-color: #3B3B3B;
    --btn-on-hover-color: #fff;
    --btn-background-color: #1A1A1A;

    --sidebar-active-color: #000;
    --sidebar-inactive-color: #A09FA2;
    --sidebar-border-color: #F0EFF2;

    --background-color: #eeeeee;
    --container-background-color: #FCFBFD;
}