.news-detail {
    height: 100vh;
}

.news-detail__preview {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.news-detail__heading {
    display: flex;
    align-items: center;
    gap: 50px;
}

.news-detail__headline {
    font-size: 24px;
    font-weight: 700;
}

.news-detail__timestamp {
    padding-left: 110px;
    display: flex;
    gap: 40px;

    opacity: .8;
    cursor: default;
    font-size: 14px;
}

.news-detail__content {
    padding-top: 20px;
}

.news-detail__text {
    font-style: italic;
}

.news-detail__links {
    padding: 20px 0;
    font-size: 14px;
}

.arrow--mobile {
    display: none;
}

@media screen and (max-width: 800px) {
    .news-detail {
        overflow-x: hidden;
        padding-bottom: 20vh;
    }

    .news-detail__heading {
        display: block;
    }

    .news-detail__timestamp {
        font-size: 13px;
        padding-left: 0;
        padding-top: 10px;
    }

    .arrow--mobile {
        display: block;
    }
}