@media screen and (max-width: 800px) {
    .news-row {
        display: flex;
        flex-direction: column;
        margin: 10px;
        gap: 10px;
    }

    .news-row a {
        color: #000;
    }

    .news-card {
        display: none;
    }

    .news-card__mobile {
        display: flex;
        height: 114px;
        padding: 7px;
        border-radius: 7px;
        background-color: var(--container-background-color);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    }

    .news-card__preview {
        margin-right: 10px;
        flex-shrink: 0;
    }

    .news-card__preview img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }

    .news-card__header {
        font-weight: bold;
    }
}