@media screen and (max-width: 915px) {
    .sidebar {
        display: none;
    }

    .main-wrapper {
        grid-template-columns: 1fr;
        grid-template-areas:
            "nav"
            "content";
    }

    .container {
        max-width: 915px;
    }
}