@media screen and (max-width: 800px) {
    .schedule-row {
        display: none;
    }

    .schedule-row__mobile {
        display: block;
    }

    .schedule-row__day-block .day-block__list {
        display: flex;
        justify-content: space-between;
    }

    .day-block__item {
        padding: 20px;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 7px;
        color: #0000008c;
        background-color: #dddddd;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

        transition: ease-in-out .2s;
    }

    .day-block__item.active {
        opacity: 1;
        color: black;
        background-color: var(--container-background-color);
        box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    }

    .schedule-row__schedule-block {
        margin-top: 15px;
    }

    .schedule-block__list {
        display: flex;
        flex-direction: column;

        gap: 10px;
        max-height: 73vh;
        overflow-x: hidden;
        padding-bottom: 10px;
    }

    .schedule-block__item {
        padding: 20px;
        border-radius: 10px;
        background-color: #DDDDDD;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .schedule-block__time-place {
        display: flex;
        margin-bottom: 7px;
        gap: 5px;
        font-size: 13px;
        font-weight: 700;
        opacity: .6;
    }

    .time-place__time {
        display: flex;
    }

    .time-place__time span {
        margin-right: 3px;
        margin-left: 5px;
    }

    .subject-block__title {
        font-weight: 700;
        margin-bottom: 20px;
    }

    .subject-additional {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .subject-type__value {
        padding: 10px 20px;

        color: white;
        font-size: 12px;
        font-weight: 700;
        border-radius: 20px;
        background-color: black;
    }

    .professor__value {
        font-size: 13px;
        opacity: .6;
    }
}