.not-found-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.not-found__title {
    font-size: 300px;
    text-shadow: 15px 15px rgb(255, 0, 0);
}

.not-found__text {
    font-size: 100px;
    text-shadow: 8px 8px 18px rgb(190, 190, 190);
}

.not-found__additional-text {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 40px;
}